.funcComp {
  background-color: aqua;
  color: red;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}

.test2 {
  background-color: aqua;
  color: red;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}
